.image {
	//background:url('../img/background.jpg') no-repeat center center;
	background: #ffffff;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}
.navbar-waterloo {
	.navbar-brand {
	  color: #e2c9cc;
  
	}
  
	.navbar-nav {
	  .nav-link {
		color: #e2c9cc;
  
		&.disabled {
		  color: #e2c9cc;
		}
	  }
  
	  .show > .nav-link,
	  .active > .nav-link,
	  .nav-link.show,
	  .nav-link.active {
		color: #b1a3a5;
	  }
	}
}